@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient-primary: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$color-gradient-secondary: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$color-grey-back: #F7F7F7;
$color-white: #FFFFFF;
$color-black: #000000;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

/* index.html -------------------------------------------------------------------------------------*/

/* Header */
header{
    width: 100%;
    height: 63px;
    padding-top: 14px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    h1{
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
    }
    .return{
        text-decoration: none;
        font-size: 23px;
        position: absolute;
        top: 21px;
        left: 23px;
        color: $color-black;
    }
}
/* Header end */

/* Location */
.location{
    width: 100%;
    height: 50px;
    padding-top: 16px;
    background-color: #EAEAEA;
    &__content{
        display: flex;
        width: 135px;
        margin: auto;
        font-weight: 500;
        justify-content: space-between;
        color: #353535;
    }
}
/* Location end */

/* Explore */
.explore{
    width: 100%;
    height: 287px;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-grey-back;
    h2{
        width: 73.33%;
        height: 68px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    p{
        width: 84%;
        height: 46px;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
    a{
        text-decoration: none;
        width: 218px;
        height: 50px;
        padding: 13px 18.75px;
        margin-top: 27px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        border-radius: 25px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        background: $color-gradient-primary;
        color: $color-white;
        &:hover{
            background: $color-gradient-secondary;
        }
    }
}
/* Explore end */

/* Functioning */
.functioning{
    width: 100%;
    height: 440px;
    padding: 48px 5.33% 68px 5.33%;
    h2{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
    &__card{
        width: 100%;
        height: 267px;
        margin-top: 26px;
        display: grid;
        gap: 9.33%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 72.38px);
    }
    &__card__content{
        display: flex;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        line-height: 72.38px;
        cursor: default;
        justify-content: center;
        position: relative;
    }
    &__card__text{
        margin-left: 27px;
        font-weight: 500;
        font-size: 16px;
    }
    &__card__icon i{
        color: #7E7E7E;
    }
    &__card__icon.purple i{
        color: $color-primary;
    }
    &__card__number{
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 25px;
        padding: 1px 7px;
        background-color: $color-primary;
        color: $color-white;
        position: absolute;
        left: -12px;
        top: 24.19px;
    }
}
/* Functioning end */

/* Restaurants */
.restaurants{
    width: 100%;
    height: 1226px;
    background-color: $color-grey-back;
    padding: 47px 4.50% 64px 4.50%;
    h2{
        font-weight: 700;
        font-size: 24px;
        height: 57px;
    }
    &__card{
        width: 100%;
        height: 1058px;
        display: grid;
        gap: 1.7%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 251px);
    }
    &__card__content{
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        text-decoration: none;
        color: $color-black;
        background: $color-white;
        transition: all .4s ease;
    }
    &__card__content:hover{
        transform: scale(0.97);
    }
    &__card__image{
        display: block;
        width: 100%;
        height: 174px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 62%;
        border-radius: 15px 15px 0 0;
        position: relative;
        .restaurants__card__new{
            width: 80px;
            height: 29px;
            padding: 6px 12px;
            font-weight: 500;
            font-size: 14px;
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 45);
            position: absolute;
            bottom: 132px;
            right: 14.6px;
            cursor: default;
        }
    }
    &__card__image.first{
        background-image: url(img/jay-wennington-N_Y88TWmGwA-unsplash.c3ee4ecc.jpg);
    }
    &__card__image.second{
        background-image: url(img/stil-u2Lp8tXIcjw-unsplash.c5829233.jpg);
    }
    &__card__image.third{
        background-image: url(img/toa-heftiba-DQKerTsQwi0-unsplash.f2774365.jpg);
    }
    &__card__image.fourth{
        background-image: url(img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.b3b23d6d.jpg);
    }
    &__card__description{
        width: 100%;
        height: 77px;
        padding: 16px 25px 12px 12.81px;
        position: relative;
        .restaurant__card__title{
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 5px;
            text-decoration: none;
            color: $color-black;
        }
        p{
            font-weight: 300;
            font-size: 17px;
        }
        .restaurants__card__icon i{
            font-size: 21px;
            position: absolute;
            top: 23px;
            right: 24.63px;
            cursor: pointer;
            transition: all .4s ease;
        }
        .restaurants__card__icon i:hover{
            font-weight: bold;
            background: $color-gradient-primary;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
/* Restaurants */

/* Footer */
footer{
    width: 100%;
    height: 197px;
    padding: 22px 25px 33px 25px;
    background-color: #353535;
    h3{
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 16px;
        color: $color-white;
    }
    .footer__content{
        display: flex;
        flex-direction: column;
        &__icon{
            display: flex;
        }
        &__icon p{
            color: $color-white;
        }
        a{
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 7px;
            color: $color-white;
        }
        &__icon a{
            margin-left: 11px;
            font-weight: 500;
        }
    }
}
/* Footer end */ 

/* index.html -------------------------------------------------------------------------------------*/

/* pages anexes -----------------------------------------------------------------------------------*/

/* Banner */
.banner{
    width: 100%;
    height: 275px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    &.first{
        background-image: url(img/jay-wennington-N_Y88TWmGwA-unsplash.c3ee4ecc.jpg);
    }
    &.second{
        background-image: url(img/stil-u2Lp8tXIcjw-unsplash.c5829233.jpg);
        background-position: 70%;
    }
    &.third{
        background-image: url(img/toa-heftiba-DQKerTsQwi0-unsplash.f2774365.jpg);
    }
    &.fourth{
        background-image: url(img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.b3b23d6d.jpg);
    }
}
/* Banner end */

/* Menu */ 
.menu{
    width: 100%;
    height: auto;
    padding: 32px 13px 40px 13px;
    margin-top: -50px;
    border-radius: 50px 50px 0 0;
    background-color: $color-grey-back;
    &__title{
        display: flex;
        width: 317px;
        height: 27px;
        line-height: 41px;
        margin: 0 4px 42px 4px;
        justify-content: space-between;
        h2{
            font-family: 'Shrikhand';
            font-style: italic;
            font-weight: 400;
            font-size: 28px;
        }
        p i{
            font-size: 24px;
            line-height: 43px;
            transition: all .4s ease;
        }
        p i:hover{
            font-weight: bold;
            background: $color-gradient-primary;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__food{
        width: 100%;
        height: 275px;
        margin-bottom: 40px;
        h3{
            height: 27px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 12px;
        }
    }
    &__food.special{
        height: 357px;
    }
    &__card{
        width: 100%;
        height: auto;
        display: grid;
        gap: 5.26% 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 68.07px);
    }
    &__card__content{
        display: flex;
        cursor: pointer;
    }
    &__card__title{
        background: $color-white;
        max-width: 100%;
        flex: 1;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        padding: 10px 12px;
        transition: all .3s ease;
        position: relative;
        h4{
            font-weight: 500;
            font-size: 18px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 8px;
        }
        p{
            font-size: 14px;
            font-weight: 300;
            width: 75%;
            height: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .menu__card__price{
            height: 20px;
            width: 30px;
            font-weight: 700;
            font-size: 15px;
            color: #353535;
            position: absolute;
            top: 39px;
            right: 18px;
        }
    }
    &__check{
        background-color: $color-tertiary;
        width: 0%;
        opacity: 0%;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 0 15.0431px 15.0431px 0;
        line-height: 75px;
        transition: all .3s ease;
        text-align: center;
        i{
            color: $color-white;
            font-size: 25px;
            transition: all .5s ease;
            transform: rotate(180deg);
        }
    }
    &__card__content:hover .menu__card__title{
       border-radius: 15.0431px 0 0 15.0431px; 
    }
    &__card__content:hover .menu__check{
        width: 20%;
        opacity: 100%;
    }
    &__card__content:hover .menu__check i{
        transform: rotate(0);
    }
    &__btn{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .order{
        padding: 17px 50px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        border: none;
        border-radius: 25px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $color-white;
        background: $color-gradient-primary;
        &:hover{
            background: $color-gradient-secondary;
        }
    }
}
/* Menu end */

/* pages anexes -----------------------------------------------------------------------------------*/