@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient-primary: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$color-gradient-secondary: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$color-grey-back: #F7F7F7;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

/* Header */
header{
    width: 100%;
    height: 63px;
    padding-top: 14px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    h1{
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
    }
}
/* Header end */

/* Location */
.location{
    width: 100%;
    height: 50px;
    padding-top: 16px;
    background-color: #EAEAEA;
    &__content{
        display: flex;
        width: 135px;
        margin: auto;
        font-weight: 500;
        justify-content: space-between;
        color: #353535;
    }
}
/* Location end */

/* Explore */
.explore{
    width: 100%;
    height: 287px;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-grey-back;
    h2{
        width: 73.33%;
        height: 68px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    p{
        width: 84%;
        height: 46px;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
    a{
        text-decoration: none;
        width: 218px;
        height: 50px;
        padding: 13px 18.75px;
        margin-top: 27px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        border-radius: 25px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        background: $color-gradient-primary;
        color: #FFFFFF;
    }
}
/* Explore end */

/* functioning */
.functioning{
    width: 100%;
    height: 440px;
    padding: 48px 5.33% 68px 5.33%;
    h2{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
    &__card{
        width: 100%;
        height: 267px;
        margin-top: 26px;
        display: grid;
        gap: 9.33%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 72.38px);
    }
    &__card__content{
        display: flex;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        line-height: 72.38px;
        justify-content: center;
        position: relative;
    }
    &__card__text{
        margin-left: 27px;
        font-weight: 500;
        font-size: 16px;
    }
    &__card__icon i{
        color: #7E7E7E;
    }
    &__card__icon.purple i{
        color: $color-primary;
    }
    &__card__number{
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 25px;
        padding: 1px 7px;
        background-color: $color-primary;
        color: #FFF;
        position: absolute;
        left: -12px;
        top: 24.19px;
    }
}
/* functioning end */

/* restaurants */

/* restaurants */